# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs y Editores
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.DS_Store
Thumbs.db

# Logs
*.log
